$theme-color: #3385ff;
$text-color: #2c3e50;

$text-theme-color: #383838;
$text-dark-color: #111;
$text-normal-color: #3333;

$super-dark-grey: #212121;
$dark-grey: #333;
$normal-grey: #666;
$light-grey: #999;
$super-light-grey: #eee;

// admin
$admin-theme: #232e43;
$admin-light-theme: #304058;
$admin-highlight: #263347;
$admin-super-light-theme: #3d5172;

$admin-bg: #f0f0f0;

// color
$pink: #fb7299;
$blue: #23ade5;
$red: #ff0000;
$grey: #f4f4f4;
$green: #42b983;
$yellow: #ffb900;
$light-yellow: #f1db0c;
$dark-yellow: #dfb43e;